# Configurações do Oracle - Banco Teste
DB_HOST=seu-host-oracle.com
DB_PORT=1521
DB_USERNAME=seu_usuario
DB_PASSWORD=senha
DB_SERVICE_NAME=ORCL-TESTE

# Configurações do Oracle - Banco Produção
DB_HOST=seu-host-oracle.com
DB_PORT=1521
DB_USERNAME=seu_usuario
DB_PASSWORD=senha
DB_SERVICE_NAME=ORCL-PROD

# Configurações do FTP
FTP_HOST=ftp.seu-servidor-ftp.com
FTP_PORT=21
FTP_USER=ftp-user
FTP_PASSWORD=password
FTP_SECURE=false
FTP_REMOTE_PATH=/edi
FTP_PROCESSED_PATH=/edi/processed
FTP_ERROR_PATH=/edi/errors

# Ambiente
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=sua_chave_jwt_aqui
JWT_EXPIRATION_TIME=15m

# Variáveis de ambiente para a verificação de acesso
AUTH_REQUIRED_COD_SECTION=01
AUTH_REQUIRED_AREA_ACTING=ADMINISTRATIVO

# Identificação da Integração
INTEGRATION_SOURCE=TESTING

# Cronograma de execução do processamento EDI
EDI_CRON_SCHEDULE=0 8-18 * * 1-5
