# Configurações do Oracle - Banco Teste
DB_HOST=seu-host-oracle.com
DB_PORT=1521
DB_USERNAME=seu_usuario
DB_PASSWORD=senha
DB_SERVICE_NAME=ORCL-TESTE

# Configurações do Oracle - Banco Produção
DB_HOST=seu-host-oracle.com
DB_PORT=1521
DB_USERNAME=seu_usuario
DB_PASSWORD=senha
DB_SERVICE_NAME=ORCL-PROD

# Configurações do PayTrack
PAYTRACK_BASE_URL_PROD=app.paytrack.com.br
PAYTRACK_BASE_URL_HOM=hom.paytrack.com.br
PAYTRACK_INSTANCE=mimo
PAYTRACK_TOKEN=token==

# Ambiente
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=sua_chave_jwt_aqui
JWT_EXPIRATION_TIME=15m

# Variáveis de ambiente para a verificação de acesso
AUTH_REQUIRED_COD_SECTION=01
AUTH_REQUIRED_AREA_ACTING=ADMINISTRATIVO

# Identificação da Integração
INTEGRATION_SOURCE=TESTING

# Configurações de Lançamento Financeiro
FINANCIAL_BRANCH=0
FINANCIAL_DUPLICATE=1
FINANCIAL_TRANSACTION_TYPE=A
FINANCIAL_PARTNER_TYPE=A
FINANCIAL_CURRENCY=R
FINANCIAL_PAYMENT_METHOD=0
FINANCIAL_INSTALLMENTS=1
FINANCIAL_TYPE_ACCOUNTING_ACCOUNT=A

# Flags de Controle
SERVICE_INVOICE_FLAG=N
COST_ALLOCATION_PERCENTAGE=0
